.galeri h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.galeri h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #000;
}

.galeri .galeri-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
