.menu-paket h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.menu-paket .container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #000;
}

.aneka-gorengan h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.aneka-gorengan .container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #000;
}

.menu-paket h2,
.aneka-gorengan h2 {
  text-align: center;
  margin: 1rem 0;
}

.menu-paket img,
.aneka-gorengan img {
  width: 200px;
}

.menu-paket .container .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.menu-paket .menu-card {
  margin: 1rem;
  border: 1px solid #ddd;
  text-align: center;
  height: 250px;
}

.aneka-gorengan .container .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.aneka-gorengan .menu-card {
  margin: 1rem;
  border: 1px solid #ddd;
  text-align: center;
  height: 250px;
}
